<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.alawresz.twitterment" level="info"/>
        <Logger name="akka" level="error/"/>
        <Logger name="twitter4j" level="error/"/>
        <Logger name="org.apache.storm" level="error"/>
        <Logger name="org.apache.zookeeper" level="error"/>
        <Root level="off">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</configuration>